* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  margin:0;
  padding:0;
  background-color: #eee;
}
.logo{
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
ul.nav-bar{
  width: 100%;
  padding:0;
  display: flex; 
  align-items: center;
  gap: 40px;
  justify-content: center; 
  
}

nav{
  background-color: blue;
  padding: 10px 0;
}
.items{
  display: flex;
  align-items: center;
  gap:5px;
  color:#fff;
  font-weight: bold;
  font-size: 20px;
}
.container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:15px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border:1px solid grey;
  
}
.show-container{
  width:30%;
  height: 490px;
  background-color:#fff;  
  padding: 5px;
  border-radius: 10px;
}
.data-ul{
  width:100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  padding:0;
  flex-direction: column;  
  gap:0;
}

.img{
  width:100%;
  height: 60%;
}
.img > img {
  display: block;
  margin: auto;
}


.like-title{
  width:100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom:1px solid rgb(167, 164, 164);
  
}
.like-title > p {
  font-size: 20px;
}
.like-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-cont{
  width:100%;
  height: 20%;
  display: flex;
  align-items: center;
  
}
.comment-btn{
  display: block;
  margin:8px auto;
  padding:10px;
}
p.like-text{
  margin: 0;
}

.item-popup {
  position: fixed;
  width: 90%;
  height: 93vh;
  top: 5vh;
  left: 5%;
  background-color: aqua;
  overflow-y: auto;
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.popup-header {
  display: flex;
}

.popup-img {
  width: 100%;
  height: 25vh;
}

.close-icon {
  cursor: pointer;
  position: fixed;
  right: 7%;
  font-size: 20px;
  font-weight: bold;
}

.popup-details {
  text-align: center;
  margin-top: 1vh;
  width: 60%;
}

.popup-specs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.popup-info {
  margin-top: 1vh;
}

.comments-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.comment-count {
  margin-left: 5px;
}

.popup-comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1vh;
}

.comment {
  margin-bottom: 1vh;
  align-self: flex-start;
}

.add-comment {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

#name {
  margin-bottom: 1vh;
  width: 60%;
  padding: 5px;
  border: none;
}

#input-comment {
  margin-bottom: 1vh;
  height: 10vh;
  padding: 5px;
  border: none;
}

#submit-comment {
  padding: 4px 4px;
  align-self: flex-start;
  background-color: coral;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width:900px){
  .show-container{
    width:40%;
  }

}

@media (max-width:700px){
 
  ul.nav-bar{
    width:100%;
    margin:0;
  }
  nav{
    background-color: grey;
  }
  .show-container{
    width: 100%;
    height: 500px;
  }
  .container{
    height:auto;
  }
  .like-text > p{
    margin: 0 0 0 200px;
  } 
 
}


